/*******新闻*******/

/*banner*/
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}
#position{ position:absolute; bottom:5px; right:0; padding-right:8px; margin:0; width:100%; text-align:right;}
#position li{display:none;color:#fff; font-size:15px;}
#position li.cur{ display:inline-block;}
#position span{color:#fff;}

.img-responsive { display: block; max-width:100%;height: auto;}
.slBanrTxt{ width:100%; height:22px; position:absolute; bottom:0px; left:0px; background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))); text-indent:2.5%; color:#fff; font-weight:800;}
